#twitter.key=
#twitter.secret=
#twitter.accesstoken=
#twitter.accesstoken.secret=
#mailinglist.email=
#mailinglist.password=
#mailinglist.admin.username=
#mailinglist.admin.password=
#slideshare.key=
#slideshare.secret=